<% layout("./layouts/boilerplate")%>
<div class='bubble rounded'>
<h1>About LearnGreen</h1>
<h2>What is LearnGreen?</h2>
<p>LearnGreen is a place where one can go to learn about green technologies and efforts being made to improve sustainability.
While green technologies are up and coming and opportunities are everywhere to join the clean tech revolution, there are many
individuals who are left behind. Most people are unaware of the number of fields that can contribute to clean tech, or that 
their field of expertise can contribute to clean tech, sometimes in surprising ways. 
</p>
<h2>Why LearnGreen?</h2>
<p>Having a website where anyone can easily access information about green technologies will help increase exposure and interest 
    in the growing green economy.
</p>
</div>