<% layout("./layouts/boilerplate")%>

<div class="container bubble rounded">
<div class="col-6 offset-3 li-item rounded">
    <h1 class="new-title text-center">New class? Let others know!</h1>
    <form class="needs-validation row mb-3" action="/moocs" method="POST" novalidate enctype="multipart/form-data">
        <div class="row-3">
            <label class="form-label" for="name">Course Name</label>
            <input class="form-control" type="text" id="name" name="mooc[name]" required>
            <p>Image Upload <input type="file" name="image" id="image"></p>
        </div>
        <div class="row-3">
            <label class="form-label" for="instructors">Instructors(Seperated By Semicolon ; )</label>
            <input class="form-control" type="text" id="instructors" name="mooc[instructors]" required>
        </div>
        <div class="row-3">
            <label class="form-label" for="topics">Topics(Seperated By Semicolon ; )</label>
            <input class="form-control" type="text" id="topics" name="mooc[topics]" required>
        </div>
        <div class="row-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" name="mooc[description]" id="description" cols="50" rows="2" required></textarea>
        </div>
        <div class="row-3">
        <label class="form-label" for="difficulty">Difficulty</label>
            <select name="mooc[difficulty]" id="difficulty">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>
        <div class="row-3">
            <label class="form-label" for="hosting_site">Hosting Site</label>
            <input class="form-control" type="text" id="hosting_site" name="mooc[hosting_site]" required>
        </div>
        <div class="row-3">
            <label class="form-label" for="course_link">Course Link</label>
            <input class="form-control" type="text" id="course_link" name="mooc[course_link]" required>
        </div>
        <div class="row-3">
            <hr>
            <button class="btn btn-light">Submit</button>
        </div>
    </form>
</div>
</div>